.mat-form-field {
    display: block !important;
    position: relative;
    text-align: left;
}

mat-form-field {
    height: 80px;
    width: 80%;
}

button {
    margin: 5px;
}

form {
    margin-left: 150px;
}

.example-full-width {
    height: 100px;
}
