mat-form-field {
    height: 80px;
    width: 80%;
}

button {
    margin: 5px;
}

form {
    margin-left: 150px;
}

.full-width {
    height: 100px;
}

mat-card {
    margin: 50px 200px;
    padding: 20px;
  }


mat-label {
    font-size: 1.2rem;
    font-weight: bold;
}

mat-card-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
}