<div class="card-wraooe">
  <mat-card>
    <mat-card-header>
      <mat-card-title>My Todo List</mat-card-title>
      <mat-card-subtitle>You have {{ countTodos }} todos left </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content *ngFor = "let todo of todosNotCompleted">
        <mat-checkbox [(ngModel)]="todo.isCompleted"><span class="todo-title" [ngClass]="todo.isCompleted ? 'completed' : ''">{{todo.title}}</span></mat-checkbox>
        <div style="float: right;">
          <button mat-button (click)="deleteTodo(todo.id)" type="button">
            <mat-icon class="delete">delete</mat-icon>
          </button>
        </div>
        <div style="float: right;">
          <button mat-button  [routerLink]="['/edit', todo.id]">
            <mat-icon class="edit">edit</mat-icon>
          </button>
        </div>
        <div style="float: right;">
          <button mat-button  (click)="goToDetailTodo(todo.id)">
            <mat-icon class="detail">remove_red_eye</mat-icon>
          </button>
        </div>
    </mat-card-content>

    <mat-accordion [hidden]="isHidden">
      <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Terminée(s) {{ countCompleted}}
              </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card-content *ngFor="let todo of todosCompleted">
            <mat-checkbox [(ngModel)]="todo.isCompleted"><span class="todo-title" [ngClass]="todo.isCompleted ? 'completed' : ''">{{todo.title}}</span></mat-checkbox>
            <div style="float: right;">
              <button mat-button (click)="deleteTodo(todo.id)" type="button">
                <mat-icon class="delete">delete</mat-icon>
              </button>
            </div>
            <div style="float: right;">
              <button mat-button  [routerLink]="['/edit', todo.id]">
                <mat-icon class="edit">edit</mat-icon>
              </button>
            </div>
            <div style="float: right;">
              <button mat-button  (click)="goToDetailTodo(todo.id)">
                <mat-icon class="detail">remove_red_eye</mat-icon>
              </button>
            </div>
        </mat-card-content>
      </mat-expansion-panel>
  </mat-accordion>

  </mat-card>
</div>

