.example-header-image {
    background-image: url('../../../assets/img/todo.jpg');
    background-size: cover;
  }

.example-full-width {
    height: 70px;
    width: 80%;
}

.addButton {
    margin-left: 20px;
    margin-bottom: 10px;
}

form {
    margin-left: 100px;
}

