mat-form-field {
    height: 80px;
    width: 90%;
}

button {
    margin: 5px;
}

form {
    margin-left: 150px;
}

.full-width {
    height: 100px;
}

mat-card {
    margin: 50px 200px;
    padding: 20px;
}

mat-card-title {
    font-size: 2.2rem;
    margin-bottom: 30px;
 }