mat-form-field {
    height: 80px;
    width: 90%;
}

button {
    margin: 5px;
}

form {
    margin-left: 150px;
}

.example-full-width {
    height: 100px;
}

mat-card {
    margin: 50px 200px;
    padding: 20px;
  }