
<header>
    <section class="home px-3">
        <div class="body">
            <div class="container has-text-centered">
                <h1 class="Title">Welcome!</h1>
                <h3>My <span class="">TODO</span> Application</h3>
            </div>
            <div>
                <p class="todos">You can manage your todos <span class=""><a routerLink="/todos" class="btn btn-lg btn-light fw-bold border-white">Here</a></span></p>
            </div>
        </div>
    </section>
</header>