<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <span class="app-title">2Doux</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/todos">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/add">
      <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>